body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9A03F;
}

.center-image img {
    max-height: 379px;
}

.main-page-text h2 {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 57px;
    font-weight: bolder;
    color: #E9F7CA;
    margin-right: 30px;
}

.main-page-text p {
    display: inline-block;
    font-size: 22px;
    color: #EAEFB1;
}

.main-page-text h5 {
    font-size: 35px;
    color: #EAEFB1;
}

.navbar-brand h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    color: #E9F7CA;
    letter-spacing: 20px;
}

#navBrand h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: #E9F7CA;
    letter-spacing: 10px;
}

.nav-item a {
    color: #EAEFB1 !important;
    margin-left: 58px;
}

.mainNav ul {
    margin-left: auto;
}

#footerNav ul {
    margin-left: auto;
}

.main-page-text h4 {
    font-size: 30px;
    color: #F7D488;
}

hr {
    height: 2px !important;
    margin: 0;
    color: #E9F7CA;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

.footer-icon img {
    max-height: 30px;
}

#footerNavbar {
    padding-bottom: 0;
}

center {
    margin-bottom: 15px;
    color: #EAEFB1;
}